<?xml version="1.0"?>
<configuration>

	<!--interface-->
	<configSections>
		<!-- -->
		<sectionGroup name="FileSystemCash">
			<section name="fullpath" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<!-- -->
		<sectionGroup name="ProxyGeneratorConnections">
			<section name="strings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<!-- -->
		<sectionGroup name="LogSinkFs">
			<section name="LogSinkFsConfig" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<!-- -->
		<sectionGroup name="LogSinkDb">
			<section name="connection" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="logger_application" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<!-- -->
		<sectionGroup name="CalculationAsynchronousThreads">
			<section name="parallel" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<!-- -->
	</configSections>

  
  
  <!--implementation-->
  <FileSystemCash>
    <fullpath>
      <!-- active one -->
      <add key="dumpfile" value="C:\Users\fra\data\root\Primes\dump.txt"/>
	  <!-- inactive ones follow -->
      <!-- switch between -->
      <!-- <add key="dumpfile" value="C:\root\projects\Solution_Primes\data\dump.txt"/> -->
    </fullpath>
  </FileSystemCash>



  <ProxyGeneratorConnections>
    <strings>
      <add key="kkkey_key" value="0"/>
      <add key="vkkey_key" value="0"/>
      <!-- active one    ITBZOW1071_Siegel_   -->
      <add key="PrimeDataApp" value="Database=PrimeData;Server=Riemann;User=appuser;Password=app;"/>
      <!-- inactive ones follow   switch between -->
	  <!--	<add key="PrimeDataApp" value="Database=PrimeData;Server=Kronecker\Delta;User=applicationuser;Password=curricula;"/> -->
    </strings>
  </ProxyGeneratorConnections>


  <LogSinkFs>
    <LogSinkFsConfig>
    <!-- Beta11:: -->
	  <add key="path" value="C:\Users\fra\data\root\Primes\Log\Calculus2015_win_"/>
      <add key="semaphore" value="on"/><!-- on off; off cuts the whole logging activity, so it sppeds up more than a high tracing level-->
      <!-- threshold above which tracings are considered: zero means trace everything. Higher levels cut something. -->
      <!-- soglia dalla quale in su vengono considerati i tracciamenti -->
      <add key="verbosity" value="0"/>
    </LogSinkFsConfig>
  </LogSinkFs>


  <LogSinkDb>
    <!-- active one on Beta11 -->
    <connection>
      <add key="kkkey_key" value="0"/>
      <add key="vkkey_key" value="0"/>
      <add key="hostname_sql_instance" value="Riemann"/>
      <add key="db_name" value="Logging"/>
      <add key="sql_instance" value=""/> <!--default instance on Linux - no named instance.-->
      <add key="usr" value="appuser"/>
      <add key="pwd" value="app"/>
    </connection>
    <!---->
    <logger_application>
      <!-- custom for each application; no dots allowed -->
      <add key="table_name" value="Calculus2015_uilocalhostBeta11_dbRiemann"/><!--syntax: app_interfacehost_dbServer -->
      <add key="semaphore" value="on"/><!-- on off-->
      <!-- threshold above which tracings are considered -->
      <!-- soglia dalla quale in su vengono considerati i tracciamenti -->
      <add key="verbosity" value="0"/>
    </logger_application>
  </LogSinkDb>



	<CalculationAsynchronousThreads>
		<parallel>
			<add key="cardinality" value="8"/>
			<!-- on quad core -->
			<!-- <add key="cardinality"   value="4"/> -->
			<!-- on dual core -->
			<!--<add key="cardinality"   value="2"/>-->
			<!-- on monoprocessor -->
		</parallel>
	</CalculationAsynchronousThreads>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
